doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title javascript-web-applications-tabs
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='author')
    meta(content='description', name='description')
    meta(content='keywords', name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')

    link(rel='stylesheet', href='styles/style.css', media='all')
  body

    ul#js-tabs.tabs
      - for (var i = 0; i < 5; i++)
        li.tabs__item(data-tab="sect#{i+1}") Sect#{i}

    #js-main.contents-container
      - for (var i = 0; i < 5; i++)
        div.content(data-tab="sect#{i+1}") Sect#{i} content

    // build:js scripts/vendor.js
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    // endbower
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/script.js')
    // endbuild
